// LAYOUT ==================================================
// =========================================================

body {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-areas: "nav nav nav" "header header info" "photos photos photos" "wedding wedding travel" "registry registry registry" "footer footer footer";

  @include breakpoint(mxl) {
    grid-template-areas: "nav nav" "header info" "photos photos" "wedding rsvp" "map travel" "registry registry" "footer footer";
  }

  @include breakpoint(sm) {
    grid-template-areas: "nav" "header" "info" "photos" "wedding" "rsvp" "travel" "map" "registry" "footer";
  }

  &.rsvp-page {
    grid-template-areas: "nav" "content" "footer";
    grid-template-rows: min-content auto min-content;
  }
}

.nav {
  grid-area: nav;
}

.header {
  grid-area: header;
}

.info {
  grid-area: info;
}

.photos {
  grid-area: photos;
}

.wedding {
  grid-area: wedding;
}

.rsvp {
  grid-area: rsvp;
}

.travel {
  grid-area: travel;
}

.map {
  grid-area: map;
}

.registry {
  grid-area: registry;
}

.footer {
  grid-area: footer;
}

.content {
  grid-area: content;
}

// BREAKPOINTS

.header {
  margin-right: -100%;
  margin-bottom: -15vw;
}

.section.info {
  margin-top: 55vh;
}

.section.map {
  margin-top: 225px;
}

@include breakpoint(sm) {
  .header {
    margin-right: 0;
    margin-bottom: -40vw;
  }

  .section.info {
    margin-top: 0;
  }

  .section.map {
    margin-top: 0;
  }
}
