// BANNER STYLES ===========================================
// =========================================================
.banner {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.4em;
  color: $color-text-inverse-primary;
  background-color: $color-state-neutral;
  border-radius: 6px;
  padding: 10px;

  @each $state, $color in $states {
    &-#{$state} {
      background-color: $color;
    }
  }
}
