// REGISTRY SECTION ========================================
// =========================================================
.registry {
  margin-top: 80px;

  &--list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &--item {
    flex: 0 0 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid transparent;
    color: $color-text-primary;
    margin: 0 20px;
    padding: 40px 20px;
    opacity: 0.3;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      color: $color-text-primary;
      border: 4px solid $color-accent-lightest;
      opacity: 1;
      transition: all 0.3s ease;
    }
  }
}
