// CONTENT SECTIONS ========================================
// =========================================================
.section {
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: minmax(30px, 1fr) minmax(0, 600px) minmax(30px, 1fr);

  &-large {
    grid-template-columns: minmax(30px, 1fr) minmax(0, 1200px) minmax(30px, 1fr);
  }

  &--content {
    grid-area: center;
    text-align: center;
    padding: 40px 0;
  }

  &--full {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
