// TRAVEL SECTION ==========================================
// =========================================================

.travel {
  &-split {
    display: flex;
    flex-wrap: wrap;
  }

  &--section {
    flex: 1 0 390px;
    padding: 0 20px;
    text-align: left;
  }

  &--callout {
    text-align: center;
    color: $color-text-inverse-primary;
    letter-spacing: 2px;
    background-color: $color-accent-light;
    margin: 0 -20px;
    padding: 0 30px 30px;

    h3 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }

    .gradient {
      margin: 0 -30px;
    }
  }
}

@include breakpoint(sm) {
  .travel {
    &--section {
      padding: 0;
      flex-shrink: 1;
    }

    &--callout {
      font-size: 0.8em;
    }
  }
}
