// FOOTER ==================================================
// =========================================================
.footer {
  margin-top: 60px;
  position: relative;

  .gradient {
    min-height: 50px;
  }
}
